<mat-toolbar class="custom-toolbar">
  <mat-form-field class="custom-search-field">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input class="custom-input">
  </mat-form-field>

  <div class="spacer"></div>

  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="addData()">
    <mat-icon>person_add</mat-icon>
  </button>

  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"
    (click)="saveinExel()">
    <mat-icon>file_download</mat-icon>
  </button>
</mat-toolbar>


<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef>lastName </th>
      <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef> firstName </th>
      <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
    </ng-container>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> id </th>
      <td mat-cell *matCellDef="let element"> {{element.tz}} </td>
    </ng-container>

    <ng-container matColumnDef="startWork">
      <th mat-header-cell *matHeaderCellDef> Start Date </th>
      <td mat-cell *matCellDef="let element"> {{element.startWork | date: 'dd/MM/yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef=" ">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element">
        <button (click)="editRow(element)"> <mat-icon matTooltip="Edit">edit</mat-icon></button>
        <button (click)="deleteRow(element)"> <mat-icon matTooltip="Delete">delete</mat-icon></button>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>