<h2 mat-dialog-title>Edit Role</h2>
<mat-dialog-content>
    <mat-card-content>
        <form [formGroup]="FormRoleEmp" id="form">

            <div>
                <mat-form-field>
                    <mat-label>Name Role</mat-label>
                    <mat-select placeholder="Name Role" (selectionChange)="chooseRole($event.value)"
                        [value]="listNameRole[data.roleId-1]">
                        <mat-option [value]="nrole" *ngFor="let nrole of listChoose">{{nrole}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div>
                <section class="example-section">
                    <label class="example-margin"> Choose: </label>
                    <mat-checkbox formControlName="isManagement"> isManagerialPosition</mat-checkbox>
                </section>
            </div>

            <div>
                <mat-form-field>
                    <mat-label>DateOfStartingWork</mat-label>
                    <input matInput placeholder="DateOfStartingWork" [matDatepicker]="picker1"
                        formControlName="startDate" (dateChange)="updateDate($event)">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
                <ng-container
                    *ngIf="this.FormRoleEmp.get('startDate')?.invalid && this.FormRoleEmp.get('startDate')?.touched">
                    <mat-error *ngIf="this.FormRoleEmp.get('startDate')?.hasError('required')">This field is
                        required!</mat-error>
                    <mat-error *ngIf="this.FormRoleEmp.get('startDate')?.hasError('invalidDate')">The date must be equal
                        to or after the job start date!</mat-error>
                </ng-container>
            </div>

        </form>
    </mat-card-content>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button (click)="Add()" [disabled]="!this.FormRoleEmp.valid" class="ok">Edit Role</button>
    <button mat-button mat-dialog-close class="ok">Cancel</button>
</mat-dialog-actions>