<mat-card class="example-card">
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"  (click)="cencel()">
        <mat-icon style="color: red;">cancel</mat-icon>
      </button>
    <mat-card-header>
        <mat-card-title>Add Employee</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="addForm" id="form">
            <div>
                <mat-form-field>
                    <mat-label>Last Name</mat-label>
                    <input matInput placeholder="Last Name" formControlName="lastName">
                </mat-form-field>
                <ng-container *ngIf="this.addForm.get('lastName')?.invalid && this.addForm.get('lastName')?.touched">
                    <mat-error *ngIf="this.addForm.get('lastName')?.hasError('required')">This field is
                        required!</mat-error>
                </ng-container>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>First Name</mat-label>
                    <input matInput placeholder="First Name" formControlName="firstName">
                </mat-form-field>
                <ng-container *ngIf="this.addForm.get('firstName')?.invalid && this.addForm.get('firstName')?.touched">
                    <mat-error *ngIf="this.addForm.get('firstName')?.hasError('required')">This field is
                        required!</mat-error>
                </ng-container>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Id</mat-label>
                    <input matInput placeholder="Id" formControlName="tz">
                </mat-form-field>
                <ng-container *ngIf="this.addForm.get('tz')?.invalid && this.addForm.get('tz')?.touched">
                    <mat-error *ngIf="this.addForm.get('tz')?.hasError('required')">This field is required!</mat-error>
                    <mat-error *ngIf="this.addForm.get('tz')?.hasError('minlength')">Minimum 9 characters
                        required!</mat-error>
                    <mat-error *ngIf="this.addForm.get('tz')?.hasError('maxlength')">Maximum 9 characters
                        allowed!</mat-error>
                    <mat-error *ngIf="this.addForm.get('tz')?.hasError('onlyNumbers')">Only numbers allowed!</mat-error>
                </ng-container>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Date of Birth</mat-label>
                    <input matInput placeholder="Date of Birth" [matDatepicker]="picker2" formControlName="dateBirth"
                        (dateChange)="updateDateBirth($event)">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
                <ng-container *ngIf="this.addForm.get('dateBirth')?.invalid && this.addForm.get('dateBirth')?.touched">
                    <mat-error *ngIf="this.addForm.get('dateBirth')?.hasError('required')">This field is
                        required!</mat-error>
                </ng-container>

            </div>
            <div>
                <mat-form-field>
                    <mat-label>Start Work</mat-label>
                    <input matInput placeholder="Start Work" [matDatepicker]="picker1" formControlName="startWork"
                        (dateChange)="updateDate($event)">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
                <ng-container *ngIf="this.addForm.get('startWork')?.invalid && this.addForm.get('startWork')?.touched">
                    <mat-error *ngIf="this.addForm.get('startWork')?.hasError('required')">This field is
                        required!</mat-error>
                </ng-container>

            </div>
            
            <div>
                <mat-form-field>
                    <mat-label>Kind</mat-label>
                    <mat-select placeholder="Kind" formControlName="kind">
                        <mat-option value="male">Male</mat-option>
                        <mat-option value="female">Female</mat-option>
                    </mat-select>
                </mat-form-field>
                <ng-container *ngIf="this.addForm.get('kind')?.invalid && this.addForm.get('kind')?.touched">
                    <mat-error *ngIf="this.addForm.get('kind')?.hasError('required')">This field is
                        required!</mat-error>
                </ng-container>

            </div>
        </form>
        <button mat-button (click)="addRole()" [disabled]="!this.addForm.valid" class="ok">Add Role</button>

    </mat-card-content>

    <mat-card-actions class="buttons">
        <button mat-button (click)="add()" [disabled]="!this.addForm.valid" class="ok">Add</button>
    </mat-card-actions>
</mat-card>