
.buttons{
    display: flex;
    flex-direction: row;    
}

.cancel{
    width: 30px;
    height: 30px;
}

.roles{
    display: flex;
    flex-direction: row;  
    border: 2px solid;
    width: 20vw;
    padding-left:5vw;
}
.positon{
    width: 100px;
}
.example-card{
   width:  40%;
   margin: auto;
}
.ok{
    background-color: rgb(194, 189, 189);
}
.err{
    color: red;
}